@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <script src="~/Scripts/highchart/highcharts.js"></script>
    <script src="~/Scripts/highchart/modules/exporting.js"></script>
    <script type="text/javascript">
        //var categories = new Array();
        //var datas = new Array();
        //var options = {
        //    chart: {
        //        renderTo:'container',
        //        type: 'column'
        //    },
        //    title: {
        //        text: '月消费详细'
        //    },
        //    //subtitle: {
        //    //    text: 'Source: WorldClimate.com'
        //    //},
        //    xAxis: {
        //        labels: {
        //            rotation: -45,
        //            align: 'right',
        //            style: {
        //                fontSize: '13px',
        //                fontFamily: 'Verdana, sans-serif'
        //            }
        //        }
        //    },
        //    yAxis: {
        //        min: 0,
        //        title: {
        //            text: '花费 (￥)'
        //        }
        //    },
        //    legend: {
        //        enabled:false
        //    },
        //    tooltip: {
        //        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        //        pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
        //    },
        //    series: [{
        //        name: 'Tokyo'
        //    }]
        //}
        $(function () {
            var x = [];//X轴
            var y = [];//Y轴
            var xtext = [];//X轴TEXT
            var ytext = [];//Y值
            $.ajax({
                type: "GET",
                url: "/MyBank/GetCurrentMonthData",
                dataType: "json",
                data: "userName=aaa",
                beforeSend: function (XMLHttpRequest) {
                    //$("#showResult").text("正在查询");
                    //Pause(this,100000);
                },
                success: function (msg) {
                    for(var i=0;i<msg.length;i++)
                    {
                        //msg[i].y = msg[i].Money; //给Y轴赋值
                        ytext[i] = msg[i].Money;
                        xtext[i] = msg[i].ItemName;//X轴

                        //options.series[i].data = msg[i].Money;
                    }
                    //chart.series[0].setData(msg);//设置数据 可以使用
                    var chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'container',
                            type: 'column',
                            margin: [50, 50, 100, 80]
                        },
                        title: {
                            text: '月消费详细'
                        },
                        //subtitle: {
                        //    text: 'Source: WorldClimate.com'
                        //},
                        xAxis: {
                            categories: xtext,
                            labels: {
                                rotation: -45,
                                align: 'right',
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '花费 (￥)'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '本月支出: <b>{point.y:.1f} 元</b>'
                        },
                        series: [{
                            name: 'Tokyo',
                            data: ytext,
                            dataLabels: {
                                enabled: true,
                                rotation: -90,
                                color: '#FFFFFF',
                                align: 'right',
                                x: 4,
                                y: -20,
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif',
                                    textShadow: '0 0 3px black'
                                }
                            }

                        }]
                    });
                },
                complete: function (XMLHttpRequest, textStatus) {
                    //隐藏正在查询图片
                },
                error: function () {
                    //错误处理
                }
            });
            
        });
    </script>


    <div id="container" style="width:100%; height: 100%; margin: 0 auto"></div>


